/* src/admin/AdminSidebar.css */
.admin-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #f4f4f4;
  overflow: hidden;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 0;
}

.admin-sidebar.open {
  transform: translateX(0);
}
.menu-item{
 cursor: pointer; 
}
.sidebar-nav {
  margin-top: 100px;
}

.sidebar-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav ul li {
  background-color: azure;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.sidebar-nav ul li:hover {
  background-color: #e0f7fa;
  transform: translateY(-2px);
}

.sidebar-nav ul li a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.sidebar-nav ul li a:hover {
  color: #007bff;
}

@media (max-width: 768px) {
  .admin-sidebar {
    width: 150px;
  }
}

/* src/admin/AdminHeader.css */
.admin-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: white;
}

.sidebar-toggle {
  margin-right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.submenu {
 
  
  padding-left: 0;
  list-style: none;
}

.submenu-toggle {
  transition: transform 0.3s ease;
  cursor:pointer;
  margin-left: 10px;
}

.submenu-toggle.open {
  transform: rotate(180deg);
}
.submenu li {
  padding: 10px 30px;
  background-color: azure;
  border-radius: 5px;
  margin-top: 10px;
}

.submenu li a {
  color: #333;
  font-weight: normal;
}

.submenu li a:hover {
  color: #007bff;
}
